<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>An ical for Victoria and Albert Museum events</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <h2>
        Subscribe to the V&A's event calendar
    </h2>
    <hr>
    <p>
        Google calendar or Apple ical both allow you to 'subscribe' to calendars; these show up in your calendar
        just like appointments you have created for yourself - only you can't edit these of course.
    </p>
    <ul>
        <li>
            The ical URL that you will need is:
            <a href="vam-cal.appspot.com/ical">
                vam-cal.appspot.com/ical
            </a>
        </li>
        <li>
            To see a list of <a href="vam-cal.appspot.com/cal">
                upcoming events
            </a>
        </li>
    </ul>

    <hr>
    <ul>
        <li>
            <a href="http://support.apple.com/kb/PH11523">
                Help with subscribing to calendars in Apple Calendar
            </a>
        </li>
                <li>
            <a href="https://support.google.com/calendar/answer/37100?hl=en">
                Help with subscribing to calendars in Google Calendar
            </a>
        </li>

    </ul>
</header>

</body>
</html>